.container {
    border: 1px solid #dedede;
    padding: 10px;
    border-radius: 3px;
    max-width: 100px;
    margin-right:20px;  
    position: relative;
    display: inline-block;
    transition: .3s all;
    >span {
        min-width: 20px;
        min-height: 20px;
        display: block;
        position: absolute;
        z-index: 1;
        top: -5px;
        right: -5px;
        background-color: #da4a26;
        border-radius: 8px;
        text-align: center;
        line-height: 20px;
        color: #fff;
        user-select: none;
    }
    >label {
        position: absolute;
        z-index: 2;
        top: -5px;
        left: 30px;
        background-color: #fff;
        font-size: 12px;
    }
    &:after{
        content:'';
        clear: both;
        display:block;
    }
}